<main class="bg-slate-900 px-14 py-24">
  <div class="flex content-between">
    <div>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati
      cupiditate harum iusto voluptatibus sint debitis asperiores maxime.
      Officiis pariatur deleniti sed nam architecto quis nemo eum repellat, non
      molestiae perspiciatis?
    </div>
    <div>
      <iframe
        class="w-full aspect-video"
        src="https://www.youtube.com/watch?v=J0ZGGvUJdxY"
      ></iframe>
    </div>
  </div>
</main>
<router-outlet />
